.wrapper_projects {
  width: 400px;
  height: 30%;
  margin: 15px 10px;
  padding: 15px 15px;
  border: 4px solid gainsboro;
}

.image_div {
  height: 30%;
  width: 30%;
}

.image_projects:hover {
  opacity: 0.5;
}
.image_projects {
  width: 300px;
  height: 200px;
  align-items: center;
  padding-left: 10px;
  margin-left: 25px;
  display: inline-block;
}
.all_projects {
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 320px) {
  .wrapper_projects {
    width: 300px;
    height: 30%;
    margin: 15px 10px;
    padding: 15px 15px;
    border: 4px solid gainsboro;
  }
  .image_projects {
    width: 200px;
    height: 100px;
    align-items: center;
    padding-left: 10px;
    margin-left: 25px;
    display: inline-block;
  }
}
